<mat-drawer-container class="mat-drawer-container" autosize>
  <mat-drawer #drawer class="sidenav" [opened]="true" mode="side">
    <div class="sidenav-logo">
      PLATZ FÜR DAS LOGO
    </div>

    <ul class="sidenav-list">
      <li routerLink="/">
        <mat-icon>fact_check</mat-icon>
        Dashboard
      </li>
      <li routerLink="user">
        <mat-icon>perm_identity</mat-icon>
        User
      </li>
    </ul>

  </mat-drawer>

  <div class="mat-toolbar-row">
    <mat-toolbar>
      <mat-icon class="menu-btn" (click)="drawer.toggle()">menu</mat-icon>
      <span>simpleCare</span>
    </mat-toolbar>
  </div>
  <div class="router-container">
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>