<mat-card appearance="outlined">
    <table class="user-table">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>City</th>
        </tr>

        <tr>
            <td>Dein Name</td>
            <td>Deine Mail</td>
            <td>Deine Stadt</td>
        </tr>
        <div></div>
        <tr>
            <td>Dein Name 2</td>
            <td>Deine Mail 2</td>
            <td>Deine Stadt 2</td>
        </tr>
    </table>
</mat-card>

<div class="add-btn-container">
    <button (click)="openDialog()" mat-fab matTooltip="Add User" [matTooltipPosition]="'above'">
        <mat-icon>add</mat-icon>
    </button>
</div>