<mat-card appearance="outlined">
    <table class="user-table">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>City</th>
        </tr>
        @for (user of this.allUsers; track $index) {
        <tr>
            <td>{{user.firstName}}</td>
            <td>{{user.email}}</td>
            <td>{{user.city}}</td>
        </tr>
        }
    </table>
</mat-card>

<div class="add-btn-container">
    <button (click)="openDialog()" mat-fab matTooltip="Add User" [matTooltipPosition]="'above'">
        <mat-icon>add</mat-icon>
    </button>
</div>